{%- liquid
  assign section_st = section.settings
  assign section_width = section_st.section_width
  assign color_scheme = section_st.color_scheme
  if section_st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif
  assign column_gap = section_st.column_gap

  assign column_gap_1 = section_st.column_gap_1
  assign items_per_row = section_st.items_per_row
  assign items_to_show = section_st.items_to_show
  assign show_arrow_1 = section_st.show_arrow_1

  assign column_gap_2 = section_st.column_gap_2
  assign items_per_row_2 = section_st.items_per_row_2
  assign items_to_show_2 = section_st.items_to_show_2

  assign column_gap_3 = section_st.column_gap_3
  assign items_per_row_3 = section_st.items_per_row_3
  assign items_to_show_3 = section_st.items_to_show_3
  assign show_arrow_3 = section_st.show_arrow_3

  assign show_view_all_button = section_st.show_view_all_button
  assign button_label = section_st.button_label
  assign heading = section_st.heading
  assign description = section_st.description
  assign header_size = ''
  if section_st.header_size == 'small'
    assign header_size = 'h3'
  elsif section_st.header_size == 'large'
    assign header_size = 'h1-size'
  endif
  if section_st.items_per_row_mobile > 1 and section_st.items_per_row_mobile < 2
    assign data_free_scroll = 'true'
  endif
  assign carousel_pagination = section_st.carousel_pagination
  assign infinite = section_st.infinite
  assign autoplay = section_st.autoplay
  assign autorotate_speed = section_st.autorotate_speed
  assign reveal = section_st.reveal
  assign scroll_animation = settings.scroll_animation

  assign items_per_row_mobile_1 = section_st.items_per_row_mobile_1
  assign items_per_row_mobile_2 = section_st.items_per_row_mobile_2
  assign items_per_row_mobile_3 = section_st.items_per_row_mobile_3
-%}
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}
{%- capture col_style -%}
{% if column_gap < 15 %}--col-gap: {{ column_gap }}px;{% else %}--col-gap: 15px;--col-gap-desktop: {{  column_gap }}px;{% endif %}
{%- endcapture -%}
<div
  class="w-body mx-auto mb-30 bg-light-gray section{% if section_st.padding_top < 30 %} pt-min{% endif %}{% if section_st.padding_bottom < 30 %} pb-min{% endif %} sec__products-carousel color-{{ color_scheme }} gradient{{ reset_spacing }}{% if reveal %} overflow-hidden{% endif %}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="d-md-flex gap-5 {{ section_width }}">
    {% if section_st.items_per_row_mobile > 1 and section_st.items_per_row_mobile < 2 %}
      <div class="free-scroll">
    {% endif %}

    {% if section_st.collection.products.size > 0 %}
      {% comment %} Product 1 {% endcomment %}
      <slide-section
        class="customize-mobile f-1 mt-10 swiper{% if reveal %} reveal_on_scroll{% endif %}"
        data-section-id="{{ section.id }}"
        data-effect="slide"
        data-speed="500"
        data-spacing="{{ column_gap_1 }}"
        data-mobile="{{ items_per_row_mobile_1 }}"
        data-free-scroll="{{ data_free_scroll }}"
        data-pagination-progressbar="{% if carousel_pagination == 'show_progress_bar' %}true{% else %}false{% endif %}"
        style="{{ col_style | strip | strip_newlines }}"
        data-arrow-centerimage="1"
      >
        {% if show_arrow_1 %}
          {%- render 'swiper-navigation' -%}
        {% endif %}
        <div class="swiper-wrapper">
          {% for product in section_st.collection.products limit: items_to_show %}
            {% render 'product-item',
              card_product: product,
              section_id: section.id,
              container: section_width,
              colunm: items_per_row,
              colunm_mobile: section_st.items_per_row_mobile,
              padding: column_gap,
              class: ' swiper-slide',
              template_enable_action: true,
              template_enable_product_vendor: true,
              template_enable_rate: true,
              template_enable_product_short_description: true,
              template_enable_color_swatches: true,
              template_enable_price: true,
              template_enable_add_cart: true,
              scroll_animation: scroll_animation,
              indexFor: forloop.index,
              template_enable_product_badges: true,
            %}
          {% endfor %}
        </div>
      </slide-section>

      <slide-section
        class="customize-pc f-1 mt-10 swiper{% if reveal %} reveal_on_scroll{% endif %}"
        data-section-id="{{ section.id }}"
        data-effect="slide"
        data-speed="500"
        data-spacing="{{ column_gap_1 }}"
        data-desktop="{{ items_per_row }}"
        data-free-scroll="{{ data_free_scroll }}"
        data-pagination-progressbar="{% if carousel_pagination == 'show_progress_bar' %}true{% else %}false{% endif %}"
        style="{{ col_style | strip | strip_newlines }}"
        data-arrow-centerimage="1"
      >
        {% if show_arrow_1 %}
          {%- render 'swiper-navigation' -%}
        {% endif %}

        <div class="swiper-wrapper">
          {% assign products = section_st.collection.products %}
          {% assign limit = items_to_show | minus: 1 %}

          {% for i in (0..limit) %}
            {% assign index = i %}
            {% assign current_product = products[index] %}
            {% assign is_even = index | modulo: 2 %}

            {% if is_even == 0 %}
              {% if current_product %}
                <div class="swiper-slide">
                  <div class="flex column-md gap-20">
                    {% render 'product-item',
                      card_product: current_product,
                      section_id: section.id,
                      container: section_width,
                      colunm: items_per_row,
                      colunm_mobile: 1,
                      padding: column_gap,
                      class: '',
                      template_enable_action: true,
                      template_enable_product_vendor: true,
                      template_enable_rate: true,
                      template_enable_product_short_description: true,
                      template_enable_color_swatches: true,
                      template_enable_price: true,
                      template_enable_add_cart: true,
                      scroll_animation: scroll_animation,
                      indexFor: index,
                      template_enable_product_badges: true,
                    %}

                    {% assign next_index = index | plus: 1 %}
                    {% assign next_product = products[next_index] %}
                    {% if next_product %}
                      {% render 'product-item',
                        card_product: next_product,
                        section_id: section.id,
                        container: section_width,
                        colunm: items_per_row,
                        colunm_mobile: 1,
                        padding: column_gap,
                        class: '',
                        template_enable_action: true,
                        template_enable_product_vendor: true,
                        template_enable_rate: true,
                        template_enable_product_short_description: true,
                        template_enable_color_swatches: true,
                        template_enable_price: true,
                        template_enable_add_cart: true,
                        scroll_animation: scroll_animation,
                        indexFor: next_index,
                        template_enable_product_badges: true,
                      %}
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </slide-section>

      {% comment %} Product 2 {% endcomment %}
      <slide-section
        class="f-1 mt-10 bg-white bor bor-2 bor-crimson-red rounded-5 swiper{% if reveal %} reveal_on_scroll{% endif %}"
        data-section-id="{{ section.id }}"
        data-autoplay="{{ autoplay }}"
        data-effect="slide"
        data-loop="{{ infinite }}"
        data-speed="500"
        data-autoplay-speed="{{ autorotate_speed }}"
        data-spacing="{{ column_gap_2 }}"
        data-mobile="{{ items_per_row_mobile_2 }}"
        data-desktop="{{ items_per_row_2 }}"
        data-free-scroll="{{ data_free_scroll }}"
        data-pagination-progressbar="{% if carousel_pagination == 'show_progress_bar' %}true{% else %}false{% endif %}"
        style="{{ col_style | strip | strip_newlines }}"
        data-arrow-centerimage="1"
      >
        {%- if heading != blank or description != blank -%}
          <div
            class="
              mx-20 mt-10 bor-bot bor-1 bor-gray-light 
              section__header text-{{ section_st.header_alignment }}{% if section_st.section_width == 'full_width' %} px-20{% endif %}
              {% if show_view_all_button %} flex gap-15 gap-md-30 flex-wrap {% if section_st.header_alignment == 'center'  %} justify-content-{{ section_st.header_alignment }} {% else %} justify-between {% endif %} align-center{% if section_st.header_alignment == 'right' %} flex-row-reverse{% endif %}{% endif %}
            "
          >
            {%- if heading != blank or description != blank -%}
              <div class="secion__header-inner">
                {%- if section_st.heading != blank -%}
                  <motion-element
                    data-motion="fade-up"           
                    {% if scroll_animation != 'slide_in' %}
                      hold
                    {% endif %}
                    data-motion-delay="50"
                    class="block  {% if scroll_animation != 'none' %} scroll-trigger {{ scroll_animation }} {% endif %}"
                    style="
                    {%- if scroll_animation != 'none' -%}
                      --animation-order: 0;
                    {% endif %}
                  "
                  >
                  <h2
                    class="fs-20 mb-5 section__header-heading heading-letter-spacing  {{ header_size  }} mt-0{% if section_st.description != blank %} mb-10{% else %} mb-0{% endif %}"
                    {%- if scroll_animation != 'none' -%}
                      style="--animation-order: 0"
                    {% endif %}
                  >
                    {{ section_st.heading }}
                  </h2>
                </motion-element>
                {% endif %}
                {%- if section_st.description != blank -%}
                  <motion-element
                    data-motion="fade-up"
                    data-motion-delay="150"
                    {% if scroll_animation != 'slide_in' %}
                      hold
                    {% endif %}
                    class="block {% if scroll_animation != 'none' -%} scroll-trigger {{ scroll_animation }}{% endif %} "
                    style="
                    {%- if scroll_animation != 'none' -%}
                      --animation-order: 1;
                    {% endif %}
                  "
                  >
                  <div
                    class="section__header-des  rich__text-m0"
                    {%- if scroll_animation != 'none' -%}
                      style="--animation-order: 1"
                    {% endif %}
                  >
                    {{ section_st.description }}
                  </div>
                </motion-element>
                {% endif %}
              </div>
            {% endif %}
            {% if show_view_all_button and section_st.header_alignment != 'center' %}
              <a
                class="btn_view-all no-underline inline-flex btn-link"
                href="{{ section_st.collection.url }}"
                aria-label="{{ button_label }}"
              >
                {{- 'general.view_all' | t -}}
              </a>
            {% endif %}
          </div>
        {% endif %}

        <div class="swiper-wrapper">
          {% for product in section_st.collection-2.products limit: items_to_show_2 %}
            {% render 'product-item',
              card_product: product,
              section_id: section.id,
              container: section_width,
              colunm: items_per_row,
              colunm_mobile: section_st.items_per_row_mobile,
              padding: column_gap,
              class: ' swiper-slide',
              template_enable_action: true,
              template_enable_product_vendor: true,
              template_enable_rate: true,
              template_enable_product_short_description: true,
              template_enable_color_swatches: true,
              template_enable_price: true,
              template_enable_add_cart: true,
              scroll_animation: scroll_animation,
              indexFor: forloop.index,
              template_enable_product_badges: true,
            %}
          {% endfor %}
        </div>
      </slide-section>

      {% comment %} Product 3 {% endcomment %}
      <slide-section
        class="customize-mobile f-1 mt-10 swiper{% if reveal %} reveal_on_scroll{% endif %}"
        data-section-id="{{ section.id }}"
        data-effect="slide"
        data-speed="500"
        data-spacing="{{ column_gap_3 }}"
        data-mobile="{{ items_per_row_mobile_3 }}"
        data-free-scroll="{{ data_free_scroll }}"
        data-pagination-progressbar="{% if carousel_pagination == 'show_progress_bar' %}true{% else %}false{% endif %}"
        style="{{ col_style | strip | strip_newlines }}"
        data-arrow-centerimage="1"
      >
        {% if show_arrow_3 %}
          {%- render 'swiper-navigation' -%}
        {% endif %}
        <div class="swiper-wrapper">
          {% for product in section_st.collection-3.products limit: items_to_show_3 %}
            {% render 'product-item',
              card_product: product,
              section_id: section.id,
              container: section_width,
              colunm: items_per_row,
              colunm_mobile: section_st.items_per_row_mobile,
              padding: column_gap,
              class: ' swiper-slide',
              template_enable_action: true,
              template_enable_product_vendor: true,
              template_enable_rate: true,
              template_enable_product_short_description: true,
              template_enable_color_swatches: true,
              template_enable_price: true,
              template_enable_add_cart: true,
              scroll_animation: scroll_animation,
              indexFor: forloop.index,
              template_enable_product_badges: true,
            %}
          {% endfor %}
        </div>
      </slide-section>

      <slide-section
        class="customize-pc f-1 mt-10 swiper{% if reveal %} reveal_on_scroll{% endif %}"
        data-section-id="{{ section.id }}"
        data-effect="slide"
        data-speed="500"
        data-spacing="{{ column_gap_3 }}"
        data-desktop="{{ items_per_row_3 }}"
        data-free-scroll="{{ data_free_scroll }}"
        data-pagination-progressbar="{% if carousel_pagination == 'show_progress_bar' %}true{% else %}false{% endif %}"
        style="{{ col_style | strip | strip_newlines }}"
        data-arrow-centerimage="1"
      >
        {% if show_arrow_1 %}
          {%- render 'swiper-navigation' -%}
        {% endif %}

        <div class="swiper-wrapper">
          {% assign products = section_st.collection-3.products %}
          {% assign limit = items_to_show_3 | minus: 1 %}

          {% for i in (0..limit) %}
            {% assign index = i %}
            {% assign current_product = products[index] %}
            {% assign is_even = index | modulo: 2 %}

            {% if is_even == 0 %}
              {% if current_product %}
                <div class="swiper-slide">
                  <div class="flex column-md gap-20">
                    {% render 'product-item',
                      card_product: current_product,
                      section_id: section.id,
                      container: section_width,
                      colunm: items_per_row,
                      colunm_mobile: 1,
                      padding: column_gap,
                      class: '',
                      template_enable_action: true,
                      template_enable_product_vendor: true,
                      template_enable_rate: true,
                      template_enable_product_short_description: true,
                      template_enable_color_swatches: true,
                      template_enable_price: true,
                      template_enable_add_cart: true,
                      scroll_animation: scroll_animation,
                      indexFor: index,
                      template_enable_product_badges: true,
                    %}

                    {% assign next_index = index | plus: 1 %}
                    {% assign next_product = products[next_index] %}
                    {% if next_product %}
                      {% render 'product-item',
                        card_product: next_product,
                        section_id: section.id,
                        container: section_width,
                        colunm: items_per_row,
                        colunm_mobile: 1,
                        padding: column_gap,
                        class: '',
                        template_enable_action: true,
                        template_enable_product_vendor: true,
                        template_enable_rate: true,
                        template_enable_product_short_description: true,
                        template_enable_color_swatches: true,
                        template_enable_price: true,
                        template_enable_add_cart: true,
                        scroll_animation: scroll_animation,
                        indexFor: next_index,
                        template_enable_product_badges: true,
                      %}
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </slide-section>
    {% endif %}

    {% if section_st.items_per_row_mobile > 1 and section_st.items_per_row_mobile < 2 %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.products-carousel.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "t:sections.all.section_width.label",
      "default": "fluid_container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.section_width.container.label"
        },
        {
          "value": "fluid_container",
          "label": "t:sections.all.section_width.fluid_container.label"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.section_width.stretch_width.label"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.section_width.full_width.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label",
      "default": "scheme-1"
    },


    {
      "type": "header",
      "content": "Products 1"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.products-carousel.settings.products.collection"
    },
    {
      "type": "range",
      "id": "items_to_show",
      "label": "t:sections.all.items.items_to_show.label",
      "min": 4,
      "max": 8,
      "step": 2,
      "default": 4
    },
    {
      "type": "range",
      "id": "items_per_row",
      "label": "t:sections.all.items.items_per_row.label",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "items_per_row_mobile_1",
      "label": "Items Per Row Mobile",
      "min": 1,
      "max": 2,
      "step": 0.5,
      "default": 2
    },
    {
      "type": "range",
      "id": "column_gap_1",
      "label": "t:sections.all.items.column_gap.label",
      "min": 0,
      "max": 50,
      "step": 5,
      "default": 5,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "show_arrow_1",
      "label": "t:sections.all.carousel_settings.show-next-back.label",
      "default": false
    },


    {
      "type": "header",
      "content": "Products 2"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.section_header.heading.label",
      "default": "Product carousel"
    },
    {
      "type": "collection",
      "id": "collection-2",
      "label": "t:sections.products-carousel.settings.products.collection"
    },
    {
      "type": "range",
      "id": "items_to_show_2",
      "label": "t:sections.all.items.items_to_show.label",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "items_per_row_2",
      "label": "t:sections.all.items.items_per_row.label",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "items_per_row_mobile_2",
      "label": "Items Per Row Mobile",
      "min": 1,
      "max": 2,
      "step": 0.5,
      "default": 1
    },
    {
      "type": "range",
      "id": "column_gap_2",
      "label": "t:sections.all.items.column_gap.label",
      "min": 0,
      "max": 50,
      "step": 5,
      "default": 5,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "t:sections.all.carousel_settings.infinite.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.all.carousel_settings.auto_change.label",
      "default": false
    },
    {
      "type": "range",
      "id": "autorotate_speed",
      "label": "t:sections.all.carousel_settings.change_slides_every.label",
      "max": 6,
      "min": 2,
      "step": 1,
      "unit": "s",
      "default": 2
    },


    {
      "type": "header",
      "content": "Products 3"
    },
    {
      "type": "collection",
      "id": "collection-3",
      "label": "t:sections.products-carousel.settings.products.collection"
    },
    {
      "type": "range",
      "id": "items_to_show_3",
      "label": "t:sections.all.items.items_to_show.label",
      "min": 4,
      "max": 8,
      "step": 2,
      "default": 4
    },
    {
      "type": "range",
      "id": "items_per_row_3",
      "label": "t:sections.all.items.items_per_row.label",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "items_per_row_mobile_3",
      "label": "Items Per Row Mobile",
      "min": 1,
      "max": 2,
      "step": 0.5,
      "default": 2
    },
    {
      "type": "range",
      "id": "column_gap_3",
      "label": "t:sections.all.items.column_gap.label",
      "min": 0,
      "max": 50,
      "step": 5,
      "default": 5,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "show_arrow_3",
      "label": "t:sections.all.carousel_settings.show-next-back.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.section_padding.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.section_padding.top.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.section_padding.bottom.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "t:sections.all.section_padding.reset_spacing.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.products-carousel.name",
      "category": "Products",
      "blocks": []
    }
  ]
}
{% endschema %}
